In [222]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [223]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
994,tt1764651,100000000,312573423,The Expendables 2,Sylvester Stallone|Jason Statham|Dolph Lundgre...,Simon West,Back for War.,Mr. Church reunites the Expendables for what s...,103,Action|Adventure|Thriller,Nu Image Films|Millennium Films,8/8/2012,6.0,2012
459,tt1126618,40000000,58785180,Morning Glory,Rachel McAdams|Harrison Ford|Patrick Wilson|Je...,Roger Michell,Breakfast TV just got interesting.,When hard-working TV producer Becky Fuller is ...,102,Comedy|Drama|Romance,Bad Robot|Goldcrest Pictures,1/12/2010,6.1,2010
1257,tt1321511,30000000,4861022,Oldboy,Josh Brolin|Elizabeth Olsen|Samuel L. Jackson|...,Spike Lee,Ask not why you were imprisoned. Ask why you w...,An everyday man has only three and a half days...,104,Drama|Thriller|Mystery|Action,Vertigo Entertainment|40 Acres & A Mule Filmwo...,11/14/2013,6.0,2013
612,tt0479952,150000000,603900354,Madagascar: Escape 2 Africa,Ben Stiller|Jada Pinkett Smith|David Schwimmer...,Eric Darnell|Tom McGrath,Still together. Still lost!,"Alex, Marty, Melman, Gloria, King Julien, Maur...",89,Family|Animation,DreamWorks Animation,10/30/2008,6.1,2008
1733,tt0450385,25000000,94679598,1408,John Cusack|Samuel L. Jackson|Mary McCormack|J...,Mikael HÃ¥fstrÃ¶m,The only demons in room 1408 are those within ...,A man who specializes in debunking paranormal ...,104,Horror|Thriller,Dimension Films,7/12/2007,6.4,2007

In [224]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [225]:
answers = {} # словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # колонку для значения прибыли

# 1. У какого фильма из списка самый большой бюджет?

In [226]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [227]:
# data[data.budget == data.budget.max()] - полная строка из таблицы
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [228]:
answers['2'] = 'Gods and Generals'

In [229]:
# data[data.runtime == data.runtime.max()] - полная строка из таблицы
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [230]:
answers['3'] = 'Winnie the Pooh'

In [231]:
# data[data.runtime == data.runtime.min()] - полная строка из таблицы
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [232]:
answers['4'] = round(data.runtime.mean(),0)
answers['4']

110.0

# 5. Каково медианное значение длительности фильмов?

In [233]:
answers['5'] = round(data.runtime.median(),0)
answers['5']

107.0

# 6. Какой самый прибыльный фильм?

In [234]:
answers['6'] = 'Avatar'

In [235]:
# data[data.profit == data.profit.max()] - полная строка из таблицы
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [236]:
answers['7'] = 'The Lone Ranger'

In [237]:
# data[data.profit == data.profit.min()] - полная строка из таблицы
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [238]:
answers['8'] = len(data[data.revenue > data.budget])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [239]:
answers['9'] = 'The Dark Knight'

In [240]:
films_2008 = data[data.release_year == 2008]
# films_2008[films_2008.revenue == films_2008.revenue.max()] - полная строка из таблицы
films_2008[films_2008.revenue == films_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [241]:
answers['10'] = 'The Lone Ranger'

In [242]:
films_2012_2014 = data[(data.release_year > 2011) & (data.release_year < 2015)]
# films_2012_2014[films_2012_2014.profit == films_2012_2014.profit.min()] - полная строка из таблицы
films_2012_2014[films_2012_2014.profit == films_2012_2014.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [243]:
answers['11'] = 'Drama'

In [244]:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data_explode_genres = data.explode('genres')
data_explode_genres.genres.value_counts() # кол-во фильмов по всем жанрам

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [245]:
data_explode_genres.genres.value_counts().head(1) # Топ-овый жанр по кол-ву фильмов

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [246]:
answers['12'] = 'Drama'

In [247]:
data_profit = data_explode_genres[data_explode_genres.profit > 0]
data_profit.genres.value_counts() # прибыть по всем жанрам

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [248]:
data_profit.genres.value_counts().head(1) # Топ-овый жанр по прибыли

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [249]:
answers['13'] = 'Peter Jackson'

In [250]:
data_explode_director = data.explode('director')
data_explode_director.groupby(['director']).revenue.sum().sort_values(ascending=False) # Кассовые сборы по режисерам

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [251]:
data_explode_director.groupby(['director']).revenue.sum().sort_values(ascending=False).head(1) # Топ-овый режисер по $ сборам

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [252]:
answers['14'] = 'Robert Rodriguez'

In [253]:
data = pd.read_csv('movie_bd_v5.csv')
action_data = data[data.genres.str.contains('Action')] # отбираем все фильмы в стиле Action в отдельный датасет
action_data['director'] = action_data['director'].str.split("|") # или .apply(lambda x:x.split('|'))
action_data = action_data.explode('director')
action_data.director.value_counts().head(1)

C:\Users\alla.kuchmar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [254]:
answers['15'] = 'Chris Hemsworth'

In [255]:
data = pd.read_csv('movie_bd_v5.csv')
year2012_data = data[data.release_year == 2012] # отбираем фильмы 2012 года в отдельный датасет
year2012_data['cast'] = year2012_data['cast'].str.split("|") # или .apply(lambda x:x.split('|'))
year2012_data = year2012_data.explode('cast')
year2012_data.groupby(['cast']).revenue.sum().sort_values(ascending=False).head(1)

C:\Users\alla.kuchmar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? 
Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [256]:
answers['16'] = 'Matt Damon'

In [257]:
data = pd.read_csv('movie_bd_v5.csv')
high_profit_data = data[data.budget > data.budget.mean()] # отбираем фильмы c бюджетом выше среднего в отдельный датасет
high_profit_data['cast'] = high_profit_data['cast'].str.split("|") # или .apply(lambda x:x.split('|'))
high_profit_data = high_profit_data.explode('cast')
high_profit_data.cast.value_counts().head(1)

C:\Users\alla.kuchmar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [258]:
answers['17'] = 'Action'

In [259]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
genres_data = data.explode('genres')
genres_data[genres_data.cast.str.contains('Nicolas Cage')].genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [260]:
answers['18'] = 'K-19: The Widowmaker'

In [261]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
result = data[data.production_companies.str.contains('Paramount Pictures')]
result[result.profit == result.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [262]:
answers['19'] = '2015'

In [263]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [264]:
answers['20'] = '2014'

In [265]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
warnerbros_data = data[data.production_companies.str.contains('Warner Bros')]
warnerbros_data.groupby(['release_year']).profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [266]:
answers['21'] = '9'

In [267]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month
data.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [268]:
answers['22'] = '450'

In [269]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month
len(data.loc[data['release_month'].isin([6, 7, 8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [270]:
answers['23'] = 'Peter Jackson'

In [271]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month
data.director[data['release_month'].isin([12, 1, 2])].value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [272]:
answers['24'] = 'Four By Two Productions'

In [273]:
data = pd.read_csv('movie_bd_v5.csv')
data['len_title'] = data['original_title'].apply(lambda x:len(x))
data['production_companies'] = data['production_companies'].str.split("|")
companies_data = data.explode('production_companies')
companies_data.groupby('production_companies').len_title.median().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [274]:
answers['25'] = 'Midnight Picture Show'

In [275]:
data = pd.read_csv('movie_bd_v5.csv')
data['overview'] = data.overview.str.split(" ")
data['len_overview'] = data.overview.apply(lambda x:len(x))
data['production_companies'] = data['production_companies'].str.split("|")
companies_data = data.explode('production_companies')
companies_data.groupby('production_companies').len_overview.median().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [276]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [277]:
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [278]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [279]:
# Решение:
# 1. применяем combinations отдельно к каждой ячейке cast - получаем список пар актеров для каждого фильма
# 2. применяем explode по столбцу cast чтобы дальше посчитать кол-во по каждой паре
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: list(it.combinations(sorted(x.split('|')), 2)))
cast_data = data.explode('cast')
result = cast_data.cast.value_counts()
print(result[result == result.max()])

(Emma Watson, Rupert Grint)         8
(Daniel Radcliffe, Rupert Grint)    8
(Daniel Radcliffe, Emma Watson)     8
Name: cast, dtype: int64

# Submission

In [280]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [281]:
# и убедиться что ни чего не пропустил)
len(answers)

27